.form-container {
    max-width: 48%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}